@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "'Geist Mono'", monospace;
}
:root {
  font-family: Geist, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
